body {
    background-color: #e2b595; 
    font-family: sans-serif;
}

.layout-conteudo {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.sidebar-categorias {
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    width: 180px;
}

.sidebar-categorias ul {
    list-style: none;
    padding: 0;
}

.grid-produtos {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas de cartões */
    gap: 15px;
    flex-grow: 1;
}

.card-donuts {
    background: #ffffff;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
}

.img-produto {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.acoes-card {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

.btn-compre {
    background-color: #f3b6da;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

p{
    color:pink
}